Q1. How do you comment code in Python? What are the different types of comments?

In [9]:
name = "gullepanadat"
print(name)
print("ujjval pandat")

gullepanadat
ujjval pandat

Q2. What are variables in Python? How do you declare and assign values to variables?

In [14]:
x=5
y="ujjval sharma"
print(x)
print(y)

5
ujjval sharma

In [16]:
x,y,z = "pineapple", "turnip","cheery"
print(x)
print(y)
print(z)

pineapple
turnip
cheery

Q3. How do you convert one data type to another in Python?

In [17]:
x=5
print(type(x))

<class 'int'>

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]. Q6. What is a complex number in mathematics, and how is it represented in Python? Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [28]:
ANS-5 my_list = [1,2,3,4,5]
sub_list=[2,3]

In [37]:
print(my_list[:])

[1, 2, 3, 4, 5]

In [40]:
ANS-6 x=complex('3+5j')
print(x)

(3+5j)

In [43]:
# Replace__with 25
age=25 
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable  belong to?

In [47]:
named='tshirt'
price=777
print(named)
print(price)

tshirt
777

Q9. Create a variable named name and assign your full name to it as a string. How would you print the  value of this variable?

In [50]:
x="ujjval sharma"
type(x)

str

Q10. Given the string "Hello, World!", extract the substring "World".

In [49]:
a="hello,world"
b="world"
type(a)
type(b)

str

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are  currently a student or no

In [53]:
a="is_student"
b="not_student"
if b>a:
    print("b is student a")
else:
    print("b is not student a")

b is student a